
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/AboutUs.jpg" />
        <h1>HAKKIMIZDA</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        Yatırımcı odaklı yaklaşımı, tecrübeli kadrosu ve üstün teknolojik altyapısı ile, aracı kurumlar arasında kısa sürede fark yaratan DMC Markets Limited,
        2019 yılından bu yana forex piyasasında faaliyet göstermektedir. Çözüm üreten yapısı ve yüzde yüz emir iletimi ile sahip olduğu işlem platformu,
        geçen bu kısa süre içerisinde; DMC Markets Limited’i piyasanın önde gelen ve en güvenilir kurumlarından biri haline getirmiştir.
    </p>
    <p>
        Emir iletimi gerçekleştiren yapımız, yatırımcımızı bir rakip olarak görmekten çıkararak, yatırımcı dostu bir aracı kurum olmamızı sağlamıştır.
        Yanıltıcı bilgi ve sinyallerle yatırımcılarını yanıltan kurumların aksine, detaylı ve gerçekçi analizlerimizle, yatırımcılarımızın piyasada kalmalarını ve
        kazançlarını artırmalarını hedefliyoruz.
    </p>
    <p>
        Bu profesyonel yaklaşım, yatırımcı nezdinde karşılık bulmakta, siz değerli yatırımcılarımızın güveni ve desteğini almaktadır.
    </p>
    <p>
        Hızlı gelişimimizi sürdürerek, yüksek teknoloji ürünlerini yatırımcılarımıza en hızlı biçimde sunma hedefiyle, rotamızdan sapmadan ilerliyoruz.
    </p>
    <p>
        Gelecek parmaklarımızın ucunda!
    </p>

</section>
