
@{
    ViewData["Title"] = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/Career.jpg" />
        <h1>KARİYER</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        DMC Markets Limited finans dünyasında hedefine ilerledikçe, bu sorumluluğu taşıyacak ve geleceğin dünyasında bizimle varolacak,
        alanında uzman çalışma arkadaşlarına ihtiyaç duymaktadır.
    </p>
    <p>
        Yaş, cinsiyet, ırk, din, etnik köken, cinsel yönelim, inanç, medeni, sosyal veya ekonomik durum, engellilik hali, üyelik ve hamilelik açısından
        herhangi bir ayrımcılık yapmadan türü ne olursa olsun canlı yaşamını odağına taşımız bir finans kuruluşuyuz.
    </p>
    <p>
        DMC Markets Limited insan kaynakları olarak, başarı ve büyümeyi, mutlu çalışanlarıyla yaratmayı hedefleyen bir anlayışa sahibiz.
    </p>
    <p>
        Sektörü bilen, dinamik, geleceğin finans dünyasına hazırlanan ekibimizde yer almak istiyorsanız hr@dmcmarketslimited.com adresine
        cv nizi göndermenizi rica ediyoruz.
    </p>


</section>


