
@{
    ViewData["Title"] = "Certificates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/Certificates.jpg" />
        <h1>SERTİFİKALAR</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        DMC Markets Limited
    </p>
    <p>
        Sertifikalarımızı incelemek için lütfen QR kodu telefonunuza okutun. Bu sayede otomatik olarak sertifikaya yönlendirileceksiniz.
    </p>
    <div class="certificate-box">
        <div class="certificate-item1">
            <span>
                Şirket Kuruluş Belgesi
            </span>
            <div>
                <img src="/img/qr1.png" />
            </div>
        </div>
        <div class="certificate-item2">
            <span>
                Aracı Kurum Lisans Belgesi
            </span>
            <div>
                <img src="/img/qr2.png" />
            </div>
        </div>
        <div class="certificate-item3">
            <span>
                Başarı Belgesi
            </span>
            <div>
                <img src="/img/qr3.png" />
            </div>
        </div>
    </div>


</section>

