
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/Contact.jpg" />
        <h1>İLETİŞİM</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <div class="contact-row">
        <span>
            <i class="fas fa-map-marker-alt"></i>
        </span>
        <span>No.5 New Road, Belize Central America</span>
    </div>
    <div class="contact-row">
        <span>
            <i class="fas fa-envelope"></i>
        </span>
        <span>
            info@dmcmarketslimited.com
        </span>
    </div>
    <div class="contact-row mr-b-100">
        <span>
            <i class="fas fa-phone-alt"></i>
        </span>
        <span>
            +501 223 5 803
        </span>
    </div>
    <p class="mr-b-100">
        İletişim formunu doldurarak bizimle iletişime geçebilir, tüm soru ve önerilerinizi bizimle paylaşabilirsiniz. Müşteri Deneyimi Departmanımız en kısa
        süre içerisinde sizinle iletişime geçecektir.
    </p>

    <div class="company-box">
        <div class="contact-text">

        </div>
        <div class="company-form">
            <input placeholder="Adınız Soyadınız *" class="input-style" />
            <input placeholder="Telefon Numaranız *" class="input-style" />
            <input placeholder="E-Posta Adresiniz *" class="input-style" />

            <textarea class="input-styl-area" placeholder="Mesajınız *" rows="10"></textarea>
            <div class="company-btn-box">
                <button type="submit" class="btn-full-red">Kampanyaya Katıl</button>
            </div>
        </div>
    </div>
</section>

