
@{
    ViewData["Title"] = "Cryptocurrencies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/CryptoCurrencies.jpg" />
        <h1>KRİPTOPARA</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        Kriptoparalar ile ticaret.
    </p>
    <p>
        Kriptoparalar geleneksel finans piyasasından tamamen farklı olarak gelişen, benzersiz ve popüler dijital paralardır.
        Blockchain teknolojisinin kullanımı ile mükemmel bir ticaret aracı olarak karşımızda duruyor.
    </p>
    <p>
        2009 yılında piyasaya sürülen Bitcoin, ilk merkezi olmayan kripto para ünvanına sahiptir. Bitcoin çoğu borsada en 
        yüksek hacimli işlem gören ürün olma özelliği taşıyor.
    </p>
    <p>
        Bitcoin fiyatı ABD doları ile eş zamanlı tutulmaktadır. Daha basit anlatımla Bitcoin almak için aslında dolar satmış oluyorsunuz.
        Alım yaptıktan sonra artan dolar ile bitcoin değerinizde paralel şekilde artmaktadır.
    </p>
    <p>
        Diğer popüler kripto para birimleri Ethereum (ETH), geleneksel finans kuruluşları arasında en çekici dijital para birimlerinden biri
        olan Ripple (XRP), Litecoin (LTC). Bu kriptopara birimlerinin fiyatı piyasa talebi, düzenleme, haberler, medya ve fiyat spekülasyonu
        gibi bir çok faktörden etkilenebilir.
    </p>
    <p>
        DMC Markets Limited’de 5*24 kripto paralar satın alıp ticarete başlayabilirsiniz
    </p>

</section>

