
@{
    ViewData["Title"] = "DailyBulletin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/DailyBulletin.jpg" />
        <h1>GÜNLÜK BÜLTEN</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        DMC Markets Limited Günlük Bülten
    </p>
    <table class="table-bultin">
        <thead>
            <tr>
                <th>Başlık</th>
                <th>Tarih</th>
                <th>İndir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dev Sigorta Şirketi Bitcoin Aldı</td>
                <td>11.12.2020</td>
                <td>
                    <a href="#">
                        <img src="/img/file-icon.png"/>
                    </a>
                </td>
            </tr>
            <tr>
                <td>WP Spark Token Dağıtımını Destekliyor</td>
                <td>12.12.2020</td>
                <td>
                    <a href="#">
                        <img src="/img/file-icon.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>Altından Rekor Çıkış, Bitcoin'e Rekor Giriş!</td>
                <td>13.12.2020</td>
                <td>
                    <a href="#">
                        <img src="/img/file-icon.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>Yine DeFi, Yeniden Ethereum Boğa Koşusu?</td>
                <td>14.12.2020</td>
                <td>
                    <a href="#">
                        <img src="/img/file-icon.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>Bitcoin'de Madenci Satışları Panik Oluşturmadı.</td>
                <td>15.12.2020</td>
                <td>
                    <a href="#">
                        <img src="/img/file-icon.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>2021 Bitcoin'de Kıtlık Senesi mi Olacak?</td>
                <td>16.12.2020</td>
                <td>
                    <a href="#">
                        <img src="/img/file-icon.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>PayPal Sonrası Sonası Spotify İlgisi.</td>
                <td>17.12.2020</td>
                <td>
                    <a href="#">
                        <img src="/img/file-icon.png" />
                    </a>
                </td>
            </tr>
            <tr>
                <td>Altın ve Bitcoin Bir Kez Daha Başa Baş Geldi, Bundan Sonra Ne Olacak?</td>
                <td>18.12.2020</td>
                <td>
                    <a href="#">
                        <img src="/img/file-icon.png" />
                    </a>
                </td>
            </tr>
        </tbody>
    </table>


</section>


