
@{
    ViewData["Title"] = "EconomicCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/EconomicCalendar.jpg" />
        <h1>EKONOMİK TAKVİM</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>

    <div class="economic-box">
        <div class="economic-text">
            <p>
                DMC Markets Limited Ekonomik Takvim
            </p>
            <p>
                Anlık finansal gelişmeleri not almanız, kontrol etmeniz ve incelemeniz
                için Ekonomik Takvim büyük önem arz etmektedir.
            </p>
            <p>
                Forex piyasasında yatırımlarınızı bir üst seviyeye taşımak, değişen
                dünyamızda varlıklarınızı profesyonel olarak yönetmeniz için
                DMC Markets Limited büyük özveri ile çalışmaktadır.
            </p>
            <p>
                Sosyal medya hesaplarımızı beğenerek ekonomik gelişmeleri ayrıca
                takip edebilirsiniz.
            </p>
            <p>
                <a href="#">
                    <img src="/img/instagram.png" />
                </a>
                <a href="#">
                    <img src="/img/facebook.png" />
                </a>
                <a href="#">
                    <img src="/img/twitter.png" />
                </a>
                <a href="#">
                    <img src="/img/whatsapp.png" />
                </a>
            </p>
        </div>
        <div class="economic-chart">
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
                    {
                        "colorTheme": "light",
                            "isTransparent": false,
                                "width": "510",
                                    "height": "600",
                                        "locale": "tr",
                                            "importanceFilter": "-1,0,1",
                                                "currencyFilter": "TRL"
                    }
                </script>
            </div>
        </div>
    </div>




</section>
