
@{
    ViewData["Title"] = "Energy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/energy.png" />
        <h1>ENERJİ</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        DMC Markets Limited, dünya çapında en aktif işlem gören emtialar arasında yer alan Ham Petrol gibi spot enerjide türev alım-satım
        hizmeti sunmaktadır.
    </p>
    <p>
        Ham Petrol, dünya çapında en aktif işlem gören emtiadır ve yüksek volatilitesi ile potansiyel ticaret fırsatları arayan, kısa vadeli yatırım düşünen
        traderlar için popüler bir seçimdir.
    </p>
    <p>
        Genel olarak enerjiler, dünyadaki gelişmelerin, arz üzerindeki doğrudan etkisi nedeniyle, değişken piyasalardır. Ekonomik büyüme, petrol ve gaz
        üreten ülkelerdeki siyasi istikrarsızlık, hava tahminleri, aşırı hava koşulları ve hükümet düzenlemeleri dahil olmak üzere çok sayıda politik ve çevresel
        faktör enerji fiyatlarını ve dolayısıyla arz ve talep dengesini etkileyebilir.
    </p>
    <p>
        Türevleri enerji üzerinden alıp satmak, gerçek varlığa borçlu olmadan serbestçe ticaret yapabileceğiniz için portföy çeşitlendirmesine ve
        daha fazla esnekliğe izin verir.
    </p>


</section>

