
@{
    ViewData["Title"] = "Forex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/forex.png" />
        <h1>FOREX</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        Forex ticareti, kar elde etmek amacıyla para birimlerinin alınıp / satılmasıdır. Para birimleri çiftler halinde işlem görür. Bir forex çiftinde listelenen
        ilk para birimi 'temel' para birimi olarak adlandırılırken, ikinci para birimi ‘teklif’ para birimi olarak adlandırılır.

    </p>
    <p>
        EUR / USD (Euro / ABD Doları), dünyanın en çok işlem gören döviz çiftidir.
    </p>
    <p>
        Döviz piyasası günde 24 saat, haftada beş gün açıktır ve sürekli değişen fiyat teklifleriyle çevrimiçi işlem görmektedir. Bu faiz oranları,
        piyasa faktörleri ve para birimleri için arz ve talebi etkileyen jeopolitik riskler gibi çeşitli faktörlerden kaynaklanmaktadır.
    </p>
    <p>
        Dünyanın en büyük ve en çok işlem gören finansal piyasası olan döviz, en yüksek hacimleri ve likiditeyi yaşamak isteyenler için
        geniş fırsatlar sunuyor.
    </p>
    <p>
        DMC Markets Limited'de, değişken spreadler ve yüksek kaldıra. oranı gibi olağanüstü ticaret koşullarına sahip çok çeşitli döviz çiftlerinde
        forex türevleri yer almaktadır.
    </p>

</section>

