
@{
    ViewData["Title"] = "Indexes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/Indexes.jpg" />
        <h1>ENDEKSLER</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        Endeksler ile Ticaret
    </p>
    <p>
        Bir endeks, en düzenli olarak belirli bir piyasayı veya piyasa sektörünü temsil eden bir hisse senedi portföyü olarak tanımlanır. Bu nedenle
        endeksler (hisse senedi endeksleri olarak da bilinir), hisse senedi piyasasının belirli bir bölümündeki bir grup hisse senedinin fiyat
        performansını ölçer. Örneğin USA500, esas olarak New York Borsası veya NASDAQ'da listelenen piyasa değerine göre ağırlıklandırılmış en büyük
        500 şirkete dayanmaktadır.
    </p>
    <p>
        İşlem endeksleri, tek bir pozisyon açarak tüm bir sektöre bağlı kalmanızı sağlar.
    </p>
    <p>
        Endeks fiyat hareketleri ve oynaklık, siyasi olaylar, belirli sektörlerdeki şirketleri etkileyen önemli olaylar, istihdam rakamları gibi ekonomik veriler ve
        piyasalardaki büyük değişiklikler gibi bir dizi faktörden etkilenir.
    </p>
    <p>
        DMC Markets Limited'de size, küresel hisse senedi piyasalarında, önemli endekslerde türev işlem yapma fırsatı sunuyoruz. Spreadlerden ve
        hızlı emir işlemlerinden yararlanmak için hemen hesap açın.
    </p>


</section>

