
@{
    ViewData["Title"] = "Metals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/Metals.jpg" />
        <h1>METALLER</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        Çağlarboyu değerli olan metaller, özelliklede altın güç ve zenginliği temsil etmektedir. Finansal piyasalarda değerli metaller yatırımcılar için
        uzun süre önceliğini koruyacaktır. Emtia ticareti yapanlar için güvenli bir alandır.
    </p>
    <p class="bold">
        Fiyatları etkileyen faktörler:
    </p>
    <p>
        Arz ve Talep <br />
        Talebin artmasıyla metal fiyatları yükselirken, talep azaldığında değerli metallerin değeri düşer.
    </p>
    <p>
        Enflasyon<br />
        Enflasyon, değerli metallerin fiyatı üzerinde doğrudan bir etkiye sahiptir. Genel olarak, yükselen enflasyon seviyeleri değerli metallerin<br />
        fiyatını arttırmaktadır.
    </p>
    <p>
        Doların Güncel Değeri<br />
        Değerli metaller dolar cinsinden olduğundan fiyatları genellikle ABD dolarının değeriyle ters orantılıdır.
    </p>
    <p>
        Endüstriyel Talep<br />
        Endüstriyel kullanımlar, değerli metallerin fiyatını artırabilir.
    </p>
    <p>
        Değerli metallere yatırım yapmak, işlem yapanların piyasa oynaklığına, politik belirsizliğe ve ekonomik çöküşe karşı korunmalarına yardımcı olabilir.
        Uzun vadeli yatırımın önemli bir parçasıdır.
    </p>


</section>

