
@{
    ViewData["Title"] = "MTDesktop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/MT_Desk.jpg" />

    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        DMC Markets Limited <strong>MetaTrader 5</strong> ile çok daha fazlası sizleri bekliyor.
        Hemen bir çok özellikten faydalanmak ve profesyoneller gibi işlem yapmak için MT5’i indirin!
    </p>
    <div class="desktop-box">
        <a href="https://download.mql5.com/cdn/web/dmc.markets.limited/mt5/dmcmarkets5setup.exe" target="_blank">
            <img src="/img/win.png" />
        </a>
        <a href="#">
            <img src="/img/mac.png" />
        </a>
    </div>
    <p>
        Tarzınız veya tercih ettiğiniz ticari varlık ne olursa olsun piyasalarda ustalaşmak istediğinize ulaşırsınız.
        Bu güçlü ancak kullanıcı dostu platform, gelişmiş bir ticaret deneyimi için daha fazla özellik, gelişmiş ticaret araçları, üstün destek ve
        alım satımlarınız üzerinde tam kontrol sağlar.
    </p>
    <p>
        Dünyanın en büyük finans piyasasına en hızlı gelişen forex firması, DMC Markets Limited ile giriş yapın.
    </p>



</section>

