
@{
    ViewData["Title"] = "MTIOS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/MT_iOS.jpg" />

    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        DMC Markets Limited MetaTrader 5 platformu iOS tabanlı platformlarıda desteklemektedir. Böylece yatırımcılarımız hesaplarının kontrolünü
        ellerinde tutabilir ve nerede olurlarsa olsunlar piyasa işlemlerine devam edebilirler. Hareket halindeyken bile kontrolü elinizde bulundurmak için
        şimdi MetaTrader 5 iOS u indirin!
    </p>

    <div>
        <a href="https://download.mql5.com/cdn/mobile/mt5/ios?server=DMCmarkets-Server" target="_blank">
            <img src="/img/apple.png" />
        </a>
    </div>


</section>

