
@{
    ViewData["Title"] = "MTTerminal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/MT_Terminal.jpg" />

    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        MetaTrader 5 WebTerminal üzerinden alım satım yapmak için, herhangi bir ek yazılım indirmenize gerek yoktur.
        WebTerminal'i herhangi bir bilgisayardan ve herhangi bir tarayıcıdan başlatın ve masaüstü platformuyla aynı işlevlerle,
        hemen işlem yapmaya başlayın.
    </p>

    <div>
        <a href="https://portal.dmcfx1.com/Dmc.Web.Portal" target="_blank" class="open-account-btn">
            Hemen Başlat
        </a>
    </div>


</section>
