
@{
    ViewData["Title"] = "Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/Stock.jpg" />
        <h1>HİSSE</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p>
        Hisse ile Ticaret

    </p>
    <p>
        kar etme fırsatı sunar. Hisseler, yatırımcılara piyasayadan daha uygun, zaman açısından ise daha verimli bir şekilde erişme fırsatı tanıdı.
    </p>
    <p>
        Her hisse senedinin genellikle, şirketin mevcut veya gelecekteki tahmin edilen performansına dayalı olarak, pazardaki hisselerinin arz ve talebine
        göre belirlenen bir fiyatı vardır. Fiyatları, şirket haberleri, kazançlar ve daha geniş piyasa olayları gibi bir dizi faktör etkileyebilir.
    </p>
    <p>
        Yatırımcılar, uzun veya kısa pozisyonlar alabilir ve düşen hisse fiyatlarının yanı sıra yükselişten de yararlanabilir.
    </p>


</section>

