<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/resp.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()
    @await Component.InvokeAsync("ShowMessageComponent")
    <link href="/css/common.min.css" rel="stylesheet" />
</body>
</html>
