
@{
    ViewData["Title"] = "OpenNewDemo";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="account-section">
    <div class="account-section-box">
        <div class="account-text-box">
            <div class="account-text-contatiner">
                <h1>
                    DEMO HESAP AÇ
                </h1>
                <div class="red-line-seprator">
                    <span></span>
                </div>
                <p>
                    Forex hakkında bilgi edinmek için hemen bir demo hesap açabilirsiniz.
                    DMCFX'te demo hesap açılış işlemlerinizi müşteri temsilcilerimizden
                    destek alarak kolaylıkla gerçekleştirebilirsiniz.
                </p>
                <p>
                    Deneme hesabıyla internetten kolay ve hızlı yatırımı keşfedin!
                    Ücretsiz demo hesabı açtığınızda, hesabınıza tanımlanan
                    $100.000 sanal bakiye ile deneme hesabınızı hemen
                    kullanmaya başlayabilirsiniz.
                </p>

            </div>
            @{
                if (ViewBag.Status != null)
                    if ((bool)ViewBag.Status)
                    {
                        <div class="message message-success">
                            Bilgileriniz tarafımıza başarıyla iletilmiştir.<br /> Teşekkürler.
                        </div>
                    }
                    else
                    {
                        <div class="message message-danger">
                            Bilgileriniz iletilmemiştir. <br />Lütfen tekrar formu doldurun.
                        </div>
                    }
            }
        </div>
        <div class="account-form-box">
            <form method="post" action="/open-new-demo">
                <section class="register-section">
                    <div class="login-logo">
                        <img src="/img/DMC_Logo.svg" />
                    </div>
                    <h1>
                        Kolayca Üye Olun!
                    </h1>
                    @Html.AntiForgeryToken()
                    <input type="text" name="Country" class="login-input" placeholder="İkamet edilen ülke *" />
                    <input type="text" name="FirstName" class="login-input" placeholder="Adınız *" />
                    <input type="text" name="LastName" class="login-input" placeholder="Soy Adınız *" />
                    <input type="text" name="Email" class="login-input" placeholder="E-Posta *" />
                    <input type="text" name="Password" class="login-input" placeholder="Telefon *" />
                    @*<input type="text" name="RepeatPassword" class="login-input" placeholder="Telefon 2 *" />*@
                    <button type="submit" class="login-form-btn">Hesap Oluştur</button>
                </section>
            </form>
            <div class="register-footer text-center">
                <span>ya da</span>
                <a href="/login">Üye Ol</a>
            </div>
        </div>
    </div>
</section>

