
@{
    ViewData["Title"] = "NpneNewMom";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="account-section">
    <div class="account-section-box">
        <div class="account-text-box">
            <div class="account-text-contatiner">
                <h1>
                    IB HESAP AÇ
                </h1>
                <div class="red-line-seprator">
                    <span></span>
                </div>
                <p>
                    Eğer kendinize ait bir müşteri portföyünüz var ise ve DMC Markets
                    Limited’in siz IB’ler için hazırlamış olduğu avantajlardan faydalanmak
                    istiyorsanız bizimle iletişime geçebilirsiniz.
                </p>
                <p>
                    DCM Markets Limited’in emir iletimi, düşük spread ve yüksek lot iadesi
                    gibi avantajlarından hem siz hem de müşterilerinizin yararlanmaya
                    başlaması için öncelikle yandaki formu doldurun.
                </p>
                <p>
                    Alanında uzman müşteri temsilcilerimiz ile yapacağınız görüşmeler
                    sonrası sizin için en uygun seçenekleri beraber yaratalım.
                </p>
            </div>
        </div>
        <div class="account-form-box">
            <form method="post" action="/open-new-ib">
                <section class="register-section">
                    <div class="login-logo">
                        <img src="/img/DMC_Logo.svg" />
                    </div>
                    <h1>
                        Kolayca Üye Olun!
                    </h1>
                    @Html.AntiForgeryToken()
                    <input type="text" name="Country" class="login-input" placeholder="İkamet edilen ülke *" />
                    <input type="text" name="FirstName" class="login-input" placeholder="Adınız *" />
                    <input type="text" name="LastName" class="login-input" placeholder="Soy Adınız *" />
                    <input type="text" name="Email" class="login-input" placeholder="E-Posta *" />
                    <input type="text" name="Password" class="login-input" placeholder="Telefon *" />
                    <input type="text" name="RepeatPassword" class="login-input" placeholder="Telefon 2 *" />
                    <button type="submit" class="login-form-btn">Hesap Oluştur</button>
                </section>
            </form>
            <div class="register-footer text-center">
                <span>ya da</span>
                <a href="/login">Üye Ol</a>
            </div>
        </div>
    </div>
</section>
