
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="fx-section">
    <div class="fx-box">
        <div class="form-input-row">
            <div class="input-box-group">
                <label>
                    Alış / Satış
                </label>
                <select class="fx-input">
                    <option>Seçiniz</option>
                    <option>Alış</option>
                    <option>Satış</option>
                </select>
            </div>
            <div class="input-box-group">
                <label>Parite Adı</label>
                <select class="fx-input">
                    <option>Seçiniz</option>
                </select>
            </div>
        </div>
        <div class="form-input-row">
            <div class="input-box-group">
                <label>
                    Alış / Satış
                </label>
                <select class="fx-input">
                    <option>Seçiniz</option>
                    <option>Alış</option>
                    <option>Satış</option>
                </select>
            </div>
            <div class="input-box-group">
                <label>Parite Adı</label>
                <select class="fx-input">
                    <option>Seçiniz</option>
                </select>
            </div>
        </div>
    </div>
</section>

