
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sub-header">
    <div class="sub-img">
        <img src="/img/sub/groups.png" />
        <h1>GRUPLAR</h1>
    </div>
</section>
<section class="sub-content">
    <div class="sub-seprator">
        <span></span>
    </div>
    <p class="text-bold">
        Gruplar
    </p>
    <p>
        DMC Markets Limited’de işlem yapmanıza izin vermeden önce riskleri yönetebileceğinizden emin olmak zorundayız. Bu nedenle gruplar oluşturduk.
        Hedeflerinize ulaştığınız ölçüde bir sonraki hedef için yeteneklerinizi de kanıtlamış olursunuz.
    </p>
    <p>
        Tarzınız ve stratejiniz tamamen size bağlı. Şimdi onu birlikte keşfetme zamanı!
    </p>
    <div class="group-row">
        <div class="group-row-header">
            <div class="group-row-header-title">
                GRUP 1
            </div>
        </div>
        <div class="group-row-list">
            <div class="group-row-item">
                <div class="group-row-item-box">
                    <div class="group-row-item-header">
                        1. Aşama
                    </div>
                    <ul class="group-list">
                        <li>
                            $100.000
                        </li>
                        <li>
                            Giriş 550
                        </li>
                        <li>
                            Max Günlük Kayıp $5.000
                        </li>
                        <li>
                            Max Toplam Kayıp $10.000
                        </li>
                        <li>
                            Kar Hedefi $10.000
                        </li>
                        <li>
                            Toplam Süre 20 Gün
                        </li>
                        <li>
                            İşlem Günü 10 Gün
                        </li>
                    </ul>
                </div>
            </div>
            <div class="group-row-item">
                <div class="group-row-item-box">
                    <div class="group-row-item-header">
                        2. Aşama
                    </div>
                    <ul class="group-list">
                        <li>
                            $100.000
                        </li>
                        <li>
                            Max Günlük Kayıp $5.000
                        </li>
                        <li>
                            Max Toplam Kayıp $10.000
                        </li>
                        <li>
                            Kar Hedefi $5.000
                        </li>
                        <li>
                            Toplam Süre 20 Gün
                        </li>
                        <li>
                            İşlem Günü 10 Gün
                        </li>

                    </ul>
                </div>
            </div>
            <div class="group-row-item">
                <div class="group-row-item-box">
                    <div class="group-row-item-header">
                        Kazanan
                    </div>
                    <ul class="group-list">
                        <li>
                            $100.000
                        </li>
                        <li>
                            Max Günlük Kayıp $5.000
                        </li>
                        <li>
                            Max Toplam Kayıp $10.000
                        </li>
                        <li>
                            Toplam Süre 20 Gün
                        </li>
                        <li>
                            İşlem Günü 10 Gün
                        </li>
                        <li>
                            Kar Hedefi Yok
                        </li>
                        <li>
                            Kazanç %60 Kazanan
                        </li>
                        <li>
                            %40 DMC Markets Limited
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="group-row-choose">
            <a class="group-row-choose-btn" href="/Winning-Trader-SignUp">
                Grubu Seç
            </a>
        </div>
    </div>
    <div class="group-row">
        <div class="group-row-header">
            <div class="group-row-header-title">
                GRUP 2
            </div>
        </div>
        <div class="group-row-list">
            <div class="group-row-item">
                <div class="group-row-item-box">
                    <div class="group-row-item-header">
                        1. Aşama
                    </div>
                    <ul class="group-list">
                        <li>
                            $50.000
                        </li>
                        <li>
                            Giriş 350
                        </li>
                        <li>
                            Max Günlük Kayıp $2.500
                        </li>
                        <li>
                            Max Toplam Kayıp $5.000
                        </li>
                        <li>
                            Kar Hedefi $2.500
                        </li>
                        <li>
                            Toplam Süre 20 Gün
                        </li>
                        <li>
                            İşlem Günü 10 Gün
                        </li>
                    </ul>
                </div>
            </div>
            <div class="group-row-item">
                <div class="group-row-item-box">
                    <div class="group-row-item-header">
                        2. Aşama
                    </div>
                    <ul class="group-list">
                        <li>
                            $50.000
                        </li>
                        <li>
                            Max Günlük Kayıp $2.500
                        </li>
                        <li>
                            Max Toplam Kayıp $5.000
                        </li>
                        <li>
                            Kar Hedefi $2.500
                        </li>
                        <li>
                            Toplam Süre 20 Gün
                        </li>
                        <li>
                            İşlem Günü 10 Gün
                        </li>

                    </ul>
                </div>
            </div>
            <div class="group-row-item">
                <div class="group-row-item-box">
                    <div class="group-row-item-header">
                        Kazanan
                    </div>
                    <ul class="group-list">
                        <li>
                            $50.000
                        </li>
                        <li>
                            Max Günlük Kayıp $2.500
                        </li>
                        <li>
                            Max Toplam Kayıp $5.000
                        </li>
                        <li>
                            Toplam Süre 20 Gün
                        </li>
                        <li>
                            İşlem Günü 10 Gün
                        </li>
                        <li>
                            Kar Hedefi Yok
                        </li>
                        <li>
                            Kazanç %60 Kazanan
                        </li>
                        <li>
                            %40 DMC Markets Limited
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="group-row-choose">
            <a class="group-row-choose-btn" href="/Winning-Trader-SignUp">
                Grubu Seç
            </a>
        </div>
    </div>
    <div class="group-row">
        <div class="group-row-header">
            <div class="group-row-header-title">
                GRUP 3
            </div>
        </div>
        <div class="group-row-list">
            <div class="group-row-item">
                <div class="group-row-item-box">
                    <div class="group-row-item-header">
                        1. Aşama
                    </div>
                    <ul class="group-list">
                        <li>
                            $25.000                           
                        </li>
                        <li>
                            Giriş 250                           
                        </li>
                        <li>
                            Max Günlük Kayıp $1.250                           
                        </li>
                        <li>
                            Max Toplam Kayıp $2.500                           
                        </li>
                        <li>
                            Kar Hedefi $2.500                            
                        </li>
                        <li>
                            Toplam Süre 20 Gün                            
                        </li>
                        <li>
                            İşlem Günü 10 Gün
                        </li>
                    </ul>
                </div>
            </div>
            <div class="group-row-item">
                <div class="group-row-item-box">
                    <div class="group-row-item-header">
                        2. Aşama
                    </div>
                    <ul class="group-list">
                        <li>
                            $25.000                           
                        </li>
                        <li>
                            Max Günlük Kayıp $1.250                           
                        </li>
                        <li>
                            Max Toplam Kayıp $2.500                            
                        </li>
                        <li>
                            Kar Hedefi $1.250                           
                        </li>
                        <li>
                            Toplam Süre 20 Gün
                        </li>
                        <li>
                            İşlem Günü 10 Gün
                        </li>

                    </ul>
                </div>
            </div>
            <div class="group-row-item">
                <div class="group-row-item-box">
                    <div class="group-row-item-header">
                        Kazanan
                    </div>
                    <ul class="group-list">
                        <li>
                            $25.000                           
                        </li>
                        <li>
                            Max Günlük Kayıp $1.250                            
                        </li>
                        <li>
                            Max Toplam Kayıp $2.500                            
                        </li>
                        <li>
                            Toplam Süre 20 Gün                            
                        </li>
                        <li>
                            İşlem Günü 10 Gün                            
                        </li>
                        <li>
                            Kar Hedefi Yok                            
                        </li>
                        <li>
                            Kazanç %60 Kazanan
                        </li>
                        <li>
                            %40 DMC Markets Limited
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="group-row-choose">
            <a class="group-row-choose-btn" href="/Winning-Trader-SignUp">
                Grubu Seç
            </a>
        </div>
    </div>
</section>
