
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<section class="login-section">
    <div class="login-logo">
        <img src="/img/DMC_Logo.svg" />
    </div>
    <h1>
        Yardıma mı ihtiyacınız var?
    </h1>
    <p>
        Şifrenizi resetlemek için lütfen kayıt olduğunuz e-posta adresinizi girin.<br />
        En kısa sürede yardımcı olacağız.
    </p>
    <form method="post" action="/ForgotPassword">
        @Html.AntiForgeryToken()
        <input name="email" type="text" class="login-input" placeholder="E-Posta *" />

        <button type="submit" class="login-form-btn">Şifreyi Sıfırla</button>
    </form>
</section>

