@model Customer
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}


<section class="register-section">
    <div class="login-logo">
        <img src="/img/DMC_Logo.svg" />
    </div>
    <h1>
        Kolayca Üye Olun!
    </h1>

    <form method="post" action="/register">
        @Html.AntiForgeryToken()
        <input type="text" name="Country" class="login-input" placeholder="İkamet edilen ülke *" />
        <input type="text" name="FirstName" class="login-input" placeholder="Adınız *" />
        <input type="text" name="LastName" class="login-input" placeholder="Soy Adınız *" />
        <input type="text" name="Email" class="login-input" placeholder="E-Posta *" />
        <input type="password" name="Password" class="login-input" placeholder="Şifre *" />
        <input type="password" name="RepeatPassword" class="login-input" placeholder="Şifrenizi Tekrar Girin *" />
        <button type="submit" class="login-form-btn">Giriş Yap</button>
    </form>
</section>
<div class="register-footer">
    <span>Bir hesabınız var mı?</span>
    <a href="/login">Üye Ol</a>
</div>
